body, html {
	padding: 0;
	margin: 0;
}

#ocean {
	position: fixed;
	background-image: url(img/underwater.jpg);
	background-position: center top;
	background-repeat: no-repeat;

	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;

	z-index: -1;
}

#fish {
	position: relative;
	z-index: 10;
	height: 1500px;
}

.fish {
	display: block;
	position: absolute;
}

#fish1 { top: 1200px; left: 300px; z-index: 20}
#fish2 { top: 300px; right: 200px; z-index: 12}
#fish3 { top: 150px; left: 550px; z-index: 11}
#fish4 { top: 650px; left: 100px; z-index: 14}
#fish5 { top: 850px; right: 50px; z-index: 15}
#fish6 { top: 1300px; right: 400px; z-index: 13}
#fish7 { top: 1400px; left: 150px; z-index: 16}